body{
	background:#000;
	color:white;
	text-align: center;
	font-size:20px;
	font-family:'Arial', sans-serif;
	letter-spacing: 3px;
}

#ans{
	font-size: 75px;
}
#bigmac{
	font-size: 75px;
}
.banner{
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top:3px solid white;
    padding: 10px;
    background: #222;
}

@media screen and (max-width: 614px) {
    .bigmac {
        width: 80%;
    }
    
    body {
        font-size: 18px;
    }

    #ans, #bigmac {
        font-size: 70px;
    }
}
